<div class="journal">

    <h1 class="journalh">Journal</h1>
    <div class="matTabs">
        <mat-tab-group>
            <mat-tab label="Upcoming flights"> <app-upcoming-flights></app-upcoming-flights> </mat-tab>
            <mat-tab label="Finished flights"> <app-finished-flights></app-finished-flights> </mat-tab>
            <mat-tab label="Canceled flights"> <app-canceled-flights></app-canceled-flights> </mat-tab>
        </mat-tab-group>
    </div>

</div>

<footer>
  <p class="footer_content">
    Copyright &#169; D&D Air
  </p>
</footer>
